body{
    background-color: rgb(51, 51, 51);
}
.tiles{
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 1rem;
    box-sizing: border-box;
}
.tile{
    height: 100px;
    background: #111;
    border: 5px solid #4444;
    cursor: pointer;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 1rem;
}